name: build and deploy node

on:
  workflow_call:
    secrets:
      hangfireFeedUrl:
        required: true  
      hangfireUsername:
        required: true
      hangfirePassword:
        required: true
      nexusAptRepoUsername:
        required: true
      nexusAptRepoPassword:
        required: true
      nexusAptRepoHost:
        required: true 
      nexusAptRepoPrereleaseHost:
        required: true  
      nexusAptRepoStagingHost: 
        required: true
      nexusDockerUsername:
        required: true  
      nexusDockerPassword:
        required: true 
      nugetGithubHost:
        required: true
      nugetGithubUsername:
        required: true
      nugetGithubPassword:
        required: true
      packageRepoHost: 
        required: true
      packageRepoPassword:
        required: true
      packageRepoUsername:
        required: true
      packageRepoPort:
        required: true
      dockerRepo:
        required: true 
      stagingRunNumber:
        required: true
      shouldSkipDocker:
        required: false
      shouldSkipDebian:
        required: false
      shouldSkipZip:
        required: false
      isHotfix:
        required: false

jobs:     
  get_version: 
    runs-on: ubuntu-latest
    outputs:
      version: ${{ steps.node-version.outputs.version }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        
      - name: Get Node.js version
        id: node-version
        run: echo "::set-output name=version::$(jq -r '.devDependencies["@types/node"]'  package.json | cut -d '.' -f 1 | tr -d '[:space:]')"
  
  set_skip_docker_env:
    runs-on: ubuntu-latest
    outputs:
      should_skip_docker: ${{ steps.set-env.outputs.should_skip_docker }}
      should_skip_debian: ${{ steps.set-env.outputs.should_skip_debian }}
      should_skip_zip: ${{ steps.set-env.outputs.should_skip_zip }}
    steps:
    - name: Set shouldskip environment variable
      id: set-env
      run: |
        if [ -n "${{ secrets.shouldSkipDocker }}" ]; then
          echo "should_skip_docker=true" >> $GITHUB_ENV
          echo "::set-output name=should_skip_docker::true"
        else
          echo "should_skip_docker=false" >> $GITHUB_ENV
          echo "::set-output name=should_skip_docker::false"
        fi
        if [ -n "${{ secrets.shouldSkipDebian }}" ]; then
          echo "should_skip_debian=true" >> $GITHUB_ENV
          echo "::set-output name=should_skip_debian::true"
        else
          echo "should_skip_debian=false" >> $GITHUB_ENV
          echo "::set-output name=should_skip_debian::false"
        fi    
        if [ -n "${{ secrets.shouldSkipZip }}" ]; then
          echo "should_skip_zip=true" >> $GITHUB_ENV
          echo "::set-output name=should_skip_zip::true"
        else
          echo "should_skip_zip=false" >> $GITHUB_ENV
          echo "::set-output name=should_skip_zip::false"
        fi  
        
  build_debian_package:
      needs: [get_version, set_skip_docker_env]
      if: ${{ needs.set_skip_docker_env.outputs.should_skip_debian != '' }}
      uses: Hectors-Welt/SharedWorkflows/.github/workflows/node_18_build_debian_package.yml@main
      secrets:
        nexusAptRepoUsername: ${{ secrets.nexusAptRepoUsername }}
        nexusAptRepoPassword: ${{ secrets.nexusAptRepoPassword }}
        nexusAptRepoHost: ${{ secrets.nexusAptRepoHost }}
        nexusAptRepoPrereleaseHost: ${{ secrets.nexusAptRepoPrereleaseHost }} 
        nexusAptRepoStagingHost: ${{ secrets.nexusAptRepoStagingHost }}
        nodeVersion:  ${{ needs.get_version.outputs.version }}
        stagingRunNumber: ${{ secrets.stagingRunNumber }}
        isHotfix: ${{ secrets.isHotfix }}
              
  build_zip_package:
    needs: [get_version, set_skip_docker_env]
    if: ${{ needs.set_skip_docker_env.outputs.should_skip_zip != '' }}
    uses: Hectors-Welt/SharedWorkflows/.github/workflows/node_latest_build_and_publish_zip.yml@main
    secrets:
      packageRepoHost: ${{ secrets.packageRepoHost }}
      packageRepoPassword: ${{ secrets.packageRepoPassword }}
      packageRepoUsername: ${{ secrets.packageRepoUsername }}
      packageRepoPort: ${{ secrets.packageRepoPort }}
      nodeVersion:  ${{ needs.get_version.outputs.version }}
      nexusAptRepoUsername: ${{ secrets.nexusAptRepoUsername }}
      nexusAptRepoPassword: ${{ secrets.nexusAptRepoPassword }}
      stagingRunNumber: ${{ secrets.stagingRunNumber }} 
      isHotfix: ${{ secrets.isHotfix }}

  build_and_publish_docker:
    needs: [get_version]
    uses: Hectors-Welt/SharedWorkflows/.github/workflows/node_latest_build_and_publish_docker_image.yml@main
    secrets:
      dockerRepo: ${{ secrets.dockerRepo }}
      nexusDockerUsername: ${{ secrets.nexusDockerUsername }}
      nexusDockerPassword: ${{ secrets.nexusDockerPassword }}
      packageRegistryToken: ${{ secrets.PACKAGE_REGISTRY_TOKEN }}
      nodeVersion: ${{ needs.get_version.outputs.version }}

